body
{
	background-color:#0092B2;
	color:white;
}

img
{
	max-width: 100%
}

iframe
{
	max-width: 100%	
}
a
{
	color:#FCFCF9;
}

.retardo
{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

.titulos
{
	font-family: 'Megrim', cursive;
	font-size: 2em;
}

.texto
{
	color:black;
	font-weight: bold;
}

.linea
{
	float: none;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.barra
{
	background-color:#5F5448;
	color: white;
	padding: 5px 10px
}

.barra_index
{
	background-color:#0092B2;
	color: white;
	padding: 5px 10px
}

.color_index
{
	background-color: black;
	color: white;
}

.sin_lista li
{
	list-style-type: none;
}

.sin_lista
{
	margin: 0px;
	padding: 0px;
}

.quitar_float
{
	float:none;
}

.margen_arriba
{
	margin-top:40px
}

.margen_derecha
{
	margin-right: 2em; 
}